name: Back/CD

on:
  workflow_dispatch:
  push:
    branches: ["main"]
    paths:
      - "back/**"
      - ".github/workflows/back.yml"

defaults:
  run:
    working-directory: back/App_back

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Deploy
        if: github.ref == 'refs/heads/main'
        env:
          deploy_url: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
        run: |
          curl "$deploy_url"
